.nav {
    background-color: #ffffff;
    padding: 6px 8% 6px 8%;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    /* overflow: hidden; */
    z-index: 5;
}

li > a.active {
    color: white;
    background-color: #fe8f12;
    padding: 10px;
    appearance: inherit;
}

.img-container {
    width: 60.33px;
    height: 38.85px;
}

li > a {
    font-family: Acumin Pro;
    color: #0968bf;
    font-style: normal;
    font-weight: normal;
}

.noHover {
    pointer-events: none;
    cursor: pointer;
}

a:hover {
    color: #fe8f12;
    border-bottom: 2px solid #fe8f12;
}

ul {
    list-style-type: none;
}

a {
    margin: 5px;
    text-decoration: none;
}
