.mat-dialog-container {
    overflow-y: hidden;
    overflow-x: hidden;
}

.button-container {
    float: right;
    transform: scale(1);
}

.loader {
    padding: 350px 0px;
}

iframe {
    z-index: 15;
}

.mat-dialog-container {
    padding: 10px;
}
