.bookmark-container {
    padding: 4% 8% 6px 8%;
    /* height: 300px;
    */
    overflow-x: hidden;
}

cdk-virtual-scroll-viewport {
    height: 98vh;
    /* app-bokmarks {
        height: 100px;
    } */
}

.loading-container {
    text-align: center;
}

.pagination {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 80%;
    /* overflow: hidden; */
    z-index: 10;
    text-align: center;
    /* justify-content: center; */
    /* background-color: brown; */
    /* background: brown; */
}

pagination-controls{
    background-color: brown;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: red;
  }

