

.loading-container {
    text-align: center;
}

pagination-controls {
    background-color: brown;
}

.mat-tab-label {
    opacity: 1;
    color: blue;
}

.mat-raised-button {
    padding: 0.375em 0.75em 0.375em 0.75em;
  }
