<mat-toolbar fxLayout="row" fxLayoutGap="2%" class="toobar">
  <div fxFlex="90%" fxFlexAlign="center"> Create A Category</div>
  <div fxFlex>
    <button mat-icon-button color="warn" tabindex="-1" (click)="onClose()">
      <span class="material-icons" style="color: #f44336;">
        clear
      </span>
    </button>
  </div>

</mat-toolbar>

<div class="container">
  <form fxLayout="column" fxLayoutGap="2%" class="example-form" [formGroup]="categoryForm"
    (ngSubmit)="onSubmit(categoryForm.value)">


    <mat-form-field fxFlex="48%" fxFlex="48%">
      <input matInput placeholder="Category name" formControlName="name" required>

      <mat-error> Category name Is Required</mat-error>
    </mat-form-field>

    <div fxLayout="row " fxLayoutGap="2%" fxLayoutAlign="center center" *ngIf="!categorysLoging">

      <button mat-raised-button class="buttom-container" type="submit" fxFlex="25%" (mouseenter)="mourseEvent=true"
        (mouseleave)="mourseEvent=false" [disabled]="categoryForm.invalid">Create</button>

      <button mat-raised-button color="warn" (click)="onClear()" type="button" fxFlex="25%">Cancel</button>

    </div>

    <app-loading [loading]="categorysLoging"></app-loading>

  </form>
</div>