/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

html {
  padding: 0px;
  margin: 0px;
  height: 98vh;
  font-weight: normal;
  /* font-family: "robotoregular", Helvetica, Arial, sans-serif; */
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  zoom: 80%;
}

body {
  background-color: #e5e5e5;
  font-weight: normal;
  font-family: "robotoregular", Helvetica, Arial, sans-serif;
}

.container {
  margin: 2% 10% 0px;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

snack-bar-container.success {
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.warn {
  background-color: #f89406;
  color: #fff;
}

snack-bar-container.notification simple-snack-bar {
  /* font-size: 18px !important;
  font-weight: bold; */
}

.blue-icon {
  color: #0968bf;
}

.orange-icon {
  color: #fe8f12;
}

.buttom-container {
  width: 100%;
  background-color: #fe8f12;
  color: white;
}

.bookmark-container {
  padding: 4% 5% 6px 1%;
}

.tex-align {
  vertical-align: super;
}

.text-align-center {
  text-align: center;
}

.my-pagination /deep/ .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #f89406;
  /* color: rgba(0,0,0,.87); */
  color: white;
  cursor: default;
  font-weight: bold;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2%;
  padding-top: 2%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.mat-form-field-flex {
  border: 3px solid #bdbdbd;
  background-color: white;
  padding: 0 20px 0 20px;
  /* border-top: 1px solid #bdbdbd; */
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.mat-form-field-infix {
  border-top: 0em solid transparent;
}

.mat-raised-button {
  padding: 0.375em 0.75em 0.375em 0.75em;
}

/* .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px;
} */
