cdk-virtual-scroll-viewport {
    height: 98vh;
}

.loading-container {
    text-align: center;
}

/* .ngx-pagination .current .my-pagination {
    padding: 0.1875rem 0.625rem;
    background: #2199e8;
    color: rgba(0,0,0,.87);
    cursor: default;
} */
